@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-green: #00FF41;
}

.text-neon-green {
  color: var(--neon-green);
}

.bg-neon-green {
  background-color: var(--neon-green);
}

.border-neon-green {
  border-color: var(--neon-green);
}
